
.cardsAbout {
    width: 500px;
    text-align: center;
}

.heartCard {
    float: left;
    width: 125px;
    margin-right: 10px;
}

.cardsHeader {
    display: inline-block;
    margin: 0;
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

.cardDescription {
    font-size: 20px;
    color: #fff;
}