.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #76b852;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8DC26F, #76b852);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8DC26F, #76b852); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}

.deckHeader {
  color: #fff;
  font-size: 60px;
  text-shadow: 2px 2px 2px #000;
}

.handContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.deckButton {
  margin: 20px;
  height: 30px;
  border: none;
  background-color: #282c34;
  color: #fff;
  border-radius: 5px;
}