.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #76b852;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8DC26F, #76b852);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8DC26F, #76b852); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
}

.deckHeader {
  color: #fff;
  font-size: 60px;
  text-shadow: 2px 2px 2px #000;
  margin: 0;
}

.handContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  min-height: 235px;
  width: 100%;
}

.deckButton {
  margin: 20px;
  height: 30px;
  border: none;
  background-color: #282c34;
  color: #fff;
  border-radius: 5px;
}

.navContainer {
  border-bottom: 1px solid black;
  margin: 0 0 10px 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.unorderedList {
  list-style: none;
}

img {
  width: 200px;
}

@media screen and (max-width: 900px) {
  .handContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  img {
    width: 100px;
  }
}

@media screen and (max-width: 400px) {
  .handContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  img {
    width: 100px;
  }
}